<script src="https://giscus.app/client.js"
        data-repo="xicuodev/xicuodev.github.io"
        data-repo-id="R_kgDOQ-J20A"
        data-category="General"
        data-category-id="DIC_kwDOQ-J20M4C2-A0"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
